/*
GERAL
*/

body {

	font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
	color: #4d4d4d;
}


html {

	background: url('marca.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
}

h3{

	margin: 0;
	font-family: "Titillium Web";
	background-color: lightgrey;
	
}

h1, h2, h4{

	font-family: "Titillium Web";

}

li{

	font-family: "Titillium Web";
}

p{

	font-family: Ubuntu;

}